doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-dns-prefetch-control' content='on')
    meta(name='robots' content='all')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title= title
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css' integrity='sha256-m/h/cUDAhf6/iBRixTbuc8+Rg2cIETQtPcH9D3p2Kg0=' crossorigin='anonymous')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a(class='navbar-brand' href='#') 野良の家
      button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span(class='navbar-toggler-icon')
      .collapse.navbar-collapse#navbarContent
        ul.navbar-nav.mr-auto
          li.nav-item
            a(class='nav-link' href='#') 首頁
          li.nav-item
            a(class='nav-link' href='#') 野良猫
          li.nav-item
            a(class='nav-link' href='#') 野良犬
    .container-fluid
      block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js' integrity='sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js' integrity='sha256-jpW4gXAhFvqGDD5B7366rIPD7PDbAmqq4CO0ZnHbdM4=' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js' integrity='sha256-DiWJXXyq81WlPRnDfGmgYZj2aOVCKyEdJ1l+2TmDuAs=' crossorigin='anonymous')
