doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-dns-prefetch-control' content='on')
    meta(name='robots' content='all')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title= title + ' | 野良の家'
    script(defer src='https://use.fontawesome.com/releases/v5.5.0/js/all.js' integrity='sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0' crossorigin='anonymous')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css' integrity='sha256-2pUeJf+y0ltRPSbKOeJh09ipQFYxUdct5nTY6GAXswA=' crossorigin='anonymous')
  body
    nav.navbar(role='navigation' aria-label='main navigation')
      .navbar-brand
        a.navbar-item(href='/') 野良の家
    block content
    block javascript
      script(src='https://cdn.jsdelivr.net/npm/lozad@1.0.6/dist/lozad.min.js')
      script.
        const observer = lozad()
        observer.observe()
