doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-dns-prefetch-control' content='on')
    meta(name='robots' content='all')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title= title
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' integrity='sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=' crossorigin='anonymous')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css' integrity='sha256-HEtF7HLJZSC3Le1HcsWbz1hDYFPZCqDhZa9QsCgVUdw=' crossorigin='anonymous')
  body
    nav.navbar(role='navigation' aria-label='main navigation')
      .navbar-brand
        a.navbar-item(href='/') 野良の家
    block content
    block javascript
      script(src='https://cdn.jsdelivr.net/npm/lozad@1.0.6/dist/lozad.min.js')
      script.
        const observer = lozad()
        observer.observe()
