extends ./layouts/layout

block content
  div(class='section')
    div(class='container')
      h1(class='title is-1') 關於野良の家
      div(class='content')
      h2(class='title is-2') 名稱由來
      div(class='content')
      h2(class='title is-2') 目的
      div(class='content')
      h2(class='title is-2') 支持
      div(class='content')
