extends ./layouts/layout

block content
  div(class='section')
    div(class='container')
      nav(class='breadcrumb' aria-label='breadcrumbs')
        ul
          li
            a(href='/') 野良の家
          li(class='is-active')
            a(href='#') 關於我們
      h1(class='title is-1') 關於野良の家
      h2(class='title is-2') 名稱由來
      div(class='content')
        p 野良是日文漢字，後面連接貓或犬也就是所謂的流浪貓(野良貓)和流浪狗(野良犬)。而日本海邊常看到的海之家提供各種遊客會需要的服務，也因此名稱就決定使用野良の家。
      h2(class='title is-2') 目的
      div(class='content')
        p 透過開放資料讓等待認養的流浪動物有更多機會，改善政府外包網站各種反人類的設計，另外網站採取開放原始碼的方式希望能永續經營下去，因為看過好多只是跟風隨便做做的到後面不是消失就是缺乏維護，但又因為沒有開源導致沒有人可以繼續接手。
      h2(class='title is-2') 支持
      div(class='content')
        p 如果您懂的如何寫程式歡迎在GitHub上提出PR。
        p
          a(href='https://github.com/0x427567/noranoie') https://github.com/0x427567/noranoie
